<h1>Update <%=@team.name%></h1>
<form action="/teams/<%=@team.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Players:
  <ul>
    <%@team.players.each do |p|%>
      <li><input type="checkbox" name="team[player_id][]" id="<%=p.name%>" value="<%=p.id%>"><%='checked'%><%=p.name%> - <%=p.position%> - <%=p.pro_team%></input></li>
    <%end%>
    <%Team.all.each |p|%>
      <%if p.team_id == nil%>
        <li><input type="checkbox" name="team[player_id][]" id="<%=p.name%>" value="<%=p.id%>"><%=p.name%> - <%=p.position%> - <%=p.pro_team%></input></li>
      <%end%>
    <%end%>
  </ul>
  <br></br>
  <input type="submit" value="Save">
</form>
