<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Update <%=@team.name%></h1>
<form action="/teams/<%=@team.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Players:<br>
  <ul>
    <%@team.players.each do |player|%>
      <input type="checkbox" name="team[player_id][]" id="<%=player.id%>" value="<%=player.id%>"><%='checked'%><%=player.name%> - <%=player.position%> - <%=player.pro_team%><br>
    <%end%>
    <%Player.all.each do |player|%>
      <%if player.team_id == nil%>
        <input type="checkbox" name="team[player_id][]" id="<%=player.id%>" value="<%=player.id%>"><%=player.name%> - <%=player.position%> - <%=player.pro_team%><br>
      <%end%>
    <%end%>
  </ul>
  <br></br>
  <input type="submit" value="Save">
</form>
